		<div class="container">
				<div class="row">
					<h2>Tic-Tac-Toe</h2>

					<form class="form-horizontal">
						<fieldset>
						<legend>Register</legend>
							<div class="form-group">
								<label class="col-md-4 control-label" for="textinput">Username</label>
								<div class="col-md-4">
									<input id="username" name="username"
										placeholder="Enter your Username"
										class="form-control input-md" required="" type="text"
										ng-model="username"> <span class="help-block">
									</span>
								</div>
							</div>

							<div class="form-group">
								<label class="col-md-4 control-label" for="textinput">Password</label>
								<div class="col-md-4">
									<input id="password" name="password"
										placeholder="Enter your Password"
										class="form-control input-md" required="" type="password"
										ng-model="password"> <span class="help-block">
									</span>
								</div>
							</div>

							<div class="form-group">
								<label class="col-md-4 control-label" for="textinput">Confirm Password</label>
								<div class="col-md-4">
									<input id="confirmPassword" name="confirmPassword"
										placeholder="Confirm your Password"
										class="form-control input-md" required="" type="password">
									<span class="help-block"> </span>
								</div>
							</div>

							<div class="form-group">
								<label class="col-md-4 control-label" for="singlebutton">
								</label>
								<div class="col-md-4">
									<button name="singlebutton" class="btn btn-primary"
										ng-click="register()">Register</button>
								</div>
							</div>
						</fieldset>
					</form>

				</div>
			</div>